#images {
    filter: grayscale(1.0) !important;
    -webkit-filter: grayscale(1.0) !important;
}

#images:hover {
    filter: grayscale(0) !important;
}
@media screen and (min-width: 1046px) {
  .nav-link {
    display: inline-grid;
  }
}
@media screen and (min-width: 896){
  .card-body{
    background-color: red;
  }
}